@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap");

:root {
    --bg-orange: #f27f0c;
    --text-white: #fff;
    --bg-gray: rgb(100, 100, 100, 0.2);
    --text-black: #000;
    --bg-blue1: #002060;
    --bg-white1: #f7f8f3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    background: var(--bg-white1);
}
/* .navbar {
    background: var(--bg-orange);
} */

/* nav Top */

.cp-coltop {
    background: var(--bg-blue1);
}

.cp-colcontak {
    padding: 0.5rem;
}

.icon-contak {
    display: flex;
    display: inline-block;
    flex-direction: column;
}

.icon-contak a {
    list-style-type: none;
    text-decoration: none;
    color: var(--bg-white1);
    font-weight: 600;
    transition: all 0.5s;
}

.icon-social {
    display: flex;
    justify-content: flex-end;
}

.icon-social a {
    color: var(--bg-white1);
    font-weight: 600;
    transition: all 0.5s;
    text-decoration: none;
}

.icon-contak a:hover,
.icon-media a:hover {
    color: var(--bg-blue1);
}

/* End nav Top */

/* logo  */

.cp-logo {
    position: relative;
}

.typing-text {
    font-size: 2.5rem;
    font-weight: 700;
}

.swiper {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-white1);
}

.swiper-slide i {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 8rem;
}

.cp-sclin {
    width: 30%;
}

.swiper-slide:nth-child(2n) {
    width: 30%;
}

.swiper-slide:nth-child(3n) {
    width: 30%;
}

.cp-sclin {
    border: 1px solid var(--bg-blue1);
    height: 9.7rem;
    border-radius: 0.6rem;
}

.neme-des {
    width: 100%;
    background: var(--bg-blue1);
    color: var(--bg-white1);
    position: absolute;
    margin-top: 8rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.row {
    display: flex;
    align-items: center;
}

.img-clout {
    position: absolute;
    margin-bottom: 5rem;
    margin-left: 6rem;
    z-index: -2;
}

.img-clouty {
    position: absolute;
    margin-bottom: 5rem;
    margin-right: 7rem;
    z-index: -2;
}
/* End logo  */

/* Nav Footer */

.cp-footer {
    background: var(--bg-blue1);
    margin-top: 1rem;
    height: 3rem;
}

.nav-foter {
    padding: 0.5rem;
}

.nav-foter li,
a {
    list-style-type: none;
    text-decoration: none;
    padding-top: 0.2rem;
    color: var(--bg-white1);
    font-weight: 600;
}

.navbar-nav > li {
    margin-right: 1rem;
    margin-left: 1rem;
}

.cp-logo-nav {
    display: none;
    /* Sembunyikan logo saat awal halaman dimuat */
    bottom: 20px;
    right: 20px;
    z-index: 999;
    /* Letakkan logo di atas elemen lain pada halaman */
}

.logo-show {
    /* Tampilkan logo saat di-scroll */
    display: block !important;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.logo-hide {
    /* Sembunyikan logo saat di-scroll */
    display: none !important;
    -webkit-animation: fadeOut 0.5s ease-in-out;
    animation: fadeOut 0.5s ease-in-out;
}

ul .nav-link:hover {
    background: RGB(173, 191, 195, 0.1);
    background-image: url("/bg.png");
}

.dropdown-menu {
    background: var(--bg-blue1);
    color: var(--bg-white1);
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    color: #f7f8f3;
}

.dropdown:hover .dropdown-menu a {
    background: none;
    color: var(--bg-white1);
}

.dropdown .dropdown-menu a {
    background: none;
    color: var(--bg-white1);
}

.dropdown-item {
    position: relative;
}

.dropdown-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--bg-white1);
    transform: scaleX(0);
    transition: all 0.8s;
    transform-origin: left;
}

.dropdown-item:hover:after {
    transform: scaleX(1);
}
.navbar-toggler {
    font-size: 0.8rem;
    background: var(--bg-white1);
    color: var(--bg-white1);
}
.collapse {
    background: var(--bg-blue1);
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .cp-footer {
        background: #082567;
        margin-top: 1rem;
        height: 3rem;
    }
}
/* End Nav Footer */

/* Responsive */

@media screen and (max-width: 600px) {
    .cp-colcontak {
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .cp-logo-icon {
        display: none;
    }

    .cp-sclin {
        width: 45%;
    }

    .cp-sclin:nth-child(2n) {
        width: 45%;
    }

    .cp-sclin:nth-child(3n) {
        width: 45%;
    }

    .typing-text {
        font-size: 2rem;
    }

    .cp-logo-img {
        width: 15%;
    }

    .cp-logo-conten {
        margin-top: 1rem;
    }

    .img-clout {
        margin-right: 1.1rem;
    }

    .img-clouty {
        margin-left: 2rem;
    }
}
/* End Responsive */

nav .container {
    font-weight: 700;
    height: 10vh;
}
.icon-login {
    font-weight: 900;
}
.garis::before {
    content: "";
    display: block;
    border-bottom: 2px solid var(--bg-orange); /* warna dan ketebalan garis dapat disesuaikan */
}

.garis::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--bg-orange); /* warna dan ketebalan garis dapat disesuaikan */
}
/* Home */
.home__container {
    /* background-image: url("/img/pantai.jpg"); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.text {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-top: 16rem;
    font-weight: 800;
    margin-top: 1rem;
    text-shadow: 3px 3px 3px var(--bg-orange);
}
.pendapatan_containe {
    margin-top: 5rem;
}
.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.batang {
    margin-top: 8rem;
}
.card-body .btn-bg {
    background: var(--bg-orange);
    color: var(--text-white);
}
.card-body .btn-bg:hover {
    background: var(--bg-orange);
    color: var(--text-white);
}
.row .btn-bg {
    background: var(--bg-orange);
    color: var(--text-white);
}
.row .btn-bg:hover {
    background: var(--bg-orange);
    color: var(--text-white);
}

/*  */
.kontak__container {
    background: var(--bg-gray);
    color: var(--bg-orange);
    width: 100%;
    height: auto;
    padding-bottom: 4%;
}

.kontak {
    font-size: 3rem;
    font-weight: 700;
}
.peta {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.elemen-icon {
    font-size: 2.3rem;
    text-decoration: none;
    color: var(--bg-orange);
    gap: 5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.icon,
.peta {
    margin-top: 1rem;
}

.icon a {
    text-decoration: none;
    font-weight: 600;
    color: var(--bg-orange);
    transition: transform 0.2s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}

.icon a:hover {
    color: var(--text-black);
    transform: scale(1.2);
}
.icon span {
    margin-left: 1rem;
}
.text-kontak {
    font-size: 2rem;
}

.container_berita {
    background: var(--bg-gray);
    border-radius: 1rem;
}
.card-body a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.7rem;
    transition: transform 0.2s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}
.card-body a:hover {
    transform: scale(1.1);
}

.jam_tgl {
    color: rgb(0, 0, 0);
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    font-size: 0.6rem;
}
.container_berita .btn-infor {
    font-weight: 700;
}
.container_berita .btn-infor:hover {
    background: transparent;
    border: 1px solid red;
    color: black;
    color: #df4f33;
}

footer {
    background: var(--bg-orange);
    height: auto;
}
footer h5,
p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.text-footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* Data Berita */
.data-berita p {
    color: var(--text-black);
}
/* Demo styles  */

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item12 .modebar-btn {
    display: none;
}

.card-text {
    color: #000;
}

.card-img-top {
    transition: transform 0.3s;
    max-height: 200px;
    /* ukuran maksimal gambar */
}

.card {
    overflow: hidden !important;
}

.card-img-top:hover {
    transform: scale(1.05);
    /* ukuran saat dihover */
    max-height: 220px;

    /* ukuran maksimal gambar saat dihover */
}

.card-img-top:hover .card {
    width: 400px !important;
}

.nav-login {
    position: absolute;
    transform: translateX(-50%);
    top: 3.4rem;
    white-space: nowrap;
    background: #ffffff;
    color: #f27f0c;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.icon-login:hover .nav-login {
    opacity: 1;
}

ion-icon {
    font-size: 1.4rem;
    font-weight: 700;
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        float: right !important;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    position: relative;
}

.dropdown-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f27f0c;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;
}

.dropdown-item:hover:after {
    transform: scaleX(1);
}

@media screen and (max-width: 600px) {
    .item {
        grid-template-columns: 1fr;
    }
    .home__container {
        height: 50vh;
    }
    .kontak {
        font-size: 2rem;
    }
    .text {
        font-size: 2rem;
        font-weight: 600;
    }
    .batang {
        margin-top: -1rem;
    }
    .peta iframe {
        max-width: 100%;
        height: auto;
    }
    .col h4 {
        margin-top: 3rem;
    }
    .kontak__container {
        padding-bottom: 3rem;
    }
    .nav-login {
        display: none;
    }
}
